.foto-page{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.foto-page.active{
    visibility: visible;
}
.full-foto{
    border-radius: 12px;
}
.full-foto:hover{
    cursor: zoom-out;
   
}